{% extends "base.html" %}
{% block content %}
<h1>All Posts</h1>

{% for post in posts %}
    <div data-testid="post" id="post-{{ post.pk }}">
    <h2 class="post-title">{{ post.title }}</h2>
    <div class="post-content">{{ post.content|linebreaks }}</div>
    <p><small>Posted by {{ post.author.username }} on {{ post.created_at }}</small></p>

    {% if user == post.author %}
        <button data-post-id="{{ post.pk }}" class="btn-edit" data-testid="button-edit-post">Edit</button>
    {% endif %}
</div>
{% empty %}
    <p data-testid="no-posts">No posts to display.</p>
{% endfor %}

{% if user.is_authenticated %}
    <form method="get" action="{% url 'post_create' %}" style="margin-bottom: 1em;">
        <button type="submit" data-testid="button-create-post">Add post</button>
    </form>
{% endif %}

{% endblock %}