{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h2 data-testid="form-title">Register</h2>
<form method="post" data-testid="form-register">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required data-testid="input-username" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required data-testid="input-password" />

    <button type="submit" data-testid="button-register">Sign up</button>
</form>
{% endblock %}
